main{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    gap: 60px;
}
.pizzaGuy{
    position: absolute;
    left: -10px;
    top: 700px;
    width: 240px;
}
.main-container1{
    max-width: 1400px;
    margin-inline: auto;
    position: relative;
}
.slider{
    display: flex;
}
.slider img{
    max-width: 50%;
}
.main-container2{
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 20px;
}
.main-container2 h2{
    font-size: 24px;
    font-weight: 700;
    color: #231F20;
    margin-bottom: 20px;
}
.main-container3{
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 20px;
}
.main-container3 h2{
    font-size: 32px;
    font-weight: 800;
    color: #F7D22D;
    margin-bottom: 20px;
}
@media (max-width: 1900px) {
    .pizzaGuy{
        display: none;
    }
}

.main-container4{
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 20px;
}
.main-container4 h2{
    font-size: 44px;
    font-weight: 800;
    color: #231F20;
    text-align: center;
    margin-bottom: 40px;
}
.main-container4 h2 span{
    color: #F7D22D;
}
.main-container4-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.main-container4-child-pod-block2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.main-container4-child-pod-block1 img{
    width: 100%;
}
.main-container4-child-pod-block2 img{
    width: 100%;
}